<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StockName" value="CG"/>
    <add key="Title" value="Our Trading application"/>
    <add key="StartingPrice" value="85.0"/>
    <add key="UpdateTickerInSeconds" value="1.5"/>
    <add key="DurationInSeconds" value="60"/>
    <add key="Cash" value="100000"/>
    <add key="HideYourProfitAfterSec" value="15"/>
    <add key="MaximumOrderSizeInBuySellDlg" value="100000"/>
    <add key="News" value="Cash News 1.     |       Cash News 2.          |  Cash News 3."/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
